html, body {
	margin: 0;
	padding: 0;
}

/********** NEWW STUFF ****/

@keyframes popup {
	0% {bottom:-15px;}
	100%{bottom:0;}
}

@keyframes popdown {
	0% {bottom:0;}
	100%{bottom:-15px;}
}

h1,h2 {
	font-family:'Baloo Tamma', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn-orange {
	background: rgb(255,70,0);
	color: white;
	border-radius: 0;
	border: none;
	padding: 15px 20px;
	font-weight: bold;
}



.btn-orange:hover {
	background: rgb(255,70,0,0.8);
	color: white;
	border: none;
}

.btn-blue {
	background: #007bff;
}

.btn-blue:hover {
	background: #0062cc;
}

.ks-video {
	width: 100%;
	min-height: 500px;
}

.top-section{
	background: #FFD600;
	border-bottom: 2px solid black;
}

.first-section {

}

#header-text {
	margin-top:50px;
	margin-bottom: 50px;
}

#logo-wrapper {
	padding-top:10px;
	padding-bottom: 10px;
	text-align: left;
}

#logo {
	width: 125px;
}

#peeqo-face-wrapper {
	overflow: hidden;
}

#peeqo-face{
	bottom: -15px;
	-webkit-animation-name: popup;
	animation-name: popup;
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-delay: 1000ms;
	animation-delay: 1000ms;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}




h1{
	font-size: 3.5rem;
	line-height: 0.8;
}

h2{
	font-size: 2.5rem;
}

p {
	font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.highlighter {
	/*background: black;*/
	color: black;
	font-size: 20px;
	/*border-radius: 100px*/
}

.image-shadow{
	width: 300px;
	border:8px solid white;
	box-shadow: 15px 15px #FFD600;
	border-radius: 2px;
	margin-bottom: 50px;
}

.green-box {
	width: 90%;
	box-shadow: 15px 15px rgb(102,205,170);
}

.blue-box {
	width: 90%;
	box-shadow: -15px 15px rgb(0,191,255);
}

.pink-box {
	width: 90%;
	box-shadow: 15px 15px #FF3E30;
}

.purple-box {
	width: 90%;
	min-height: 300px;
	box-shadow: -15px 15px #8154C4;
}

.panel {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
}

.panel:last-child {
	border-bottom: none;
}

.panel-header{
	text-align: center;
	margin-bottom: 40px;
}

.panel-header h2{

}

.press-logo{
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer {
	background-color: #222;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQoU2NkYGD4z8DAwMhAAMAUEFSMbBJexehW4lSMzW1YFePyBIZifL5FUUwoWOCKCSkEhS5YMTEKwYoB/a0KCojjtVkAAAAASUVORK5CYII=) repeat, #222;
	color: #fff;
	border-top: 1px solid #000;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
}


/****** END OF NEW *****/


#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}


/* MAILCHIMP OVERRIDES */
#mc_embed_signup input.email{
	width: 250px;
	height: 48px;
	font-size: 16px;
	border-radius: 0;
	position: relative;
	right: -5px;
	padding-left: 15px;
}

#mc_embed_signup input.email:focus{
	outline:1px solid rgb(211,211,211);
}

#mc_embed_signup .button{
	border-radius: 0;
	background-color: rgb(255,70,0);
	color: white;
	font-size: 16px;
	font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 48px;
	line-height: 48px;
}

#mc_embed_signup .button:hover {
	background-color: #d1340f;
}

#mc_embed_signup .button-form-footer{
	width: 90%;
	margin-top: 20px;
}

#mc_embed_signup input.input-form-footer{
	width: 90%;
	right: 0;
	text-align: center;
}

@media (max-width: 768px) {
    #mc_embed_signup input.email {
    	width:100%; 
    	margin-bottom:5px; 
    	text-align: center;
    	border-radius: 0;
    	right:0;
    }
    #mc_embed_signup .clear {
    	display: block; 
    	width: 100% 
    }
    #mc_embed_signup .button {
    	width: 100%; 
    	margin:0; 
    	border-radius: 0;
    }
}
