html, body {
	margin: 0;
	padding: 0;
}

.video-bg {
	position: absolute;
	top:0;
	right:0;
	margin-left: 0;
	margin-right: 0;
}

video {
	width: 100%;
}

.top-intro {
	padding-top: 80px;
}

.intro {
	font-weight: bold;
	line-height: 175%;
}

.responsive-iframe {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
}

.responsive-iframe iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

.modal-content {
	border-radius: 0;
}

.modal-header {
	border-bottom: none;
	padding-bottom: 0;
	padding-top: 5px;
}

.modal-body {
	padding: 0;
}

.close {
	background: none;
	border: none;
	float: right;
	font-size:20px;
	color: #ccc;
}

.video-btn, .video-btn:active, .video-btn:visited {
	margin-top: 40px;
	border-radius: 50px;
	padding: 15px 30px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	background: #f64638;
	color: white;
	/*background: white;
	color: #f64638;
	box-shadow: inset 0 0 0 2px #f64638;*/
}

.video-btn:hover {
	background: #dd3f32;
	text-decoration: none;
	color: white;
}

.video-btn:focus, .video-btn:active:focus {
	outline: none;
}

.section {
	padding: 30px 0;
	border-bottom: 1px solid #ccc;
}

.subheader {
	font-weight: 300;

}

.subtext {
	color: #aaa;
	font-size: 12px;
}

.contact {
	font-weight: 600;
	color: #f64638;
	font-size: 38px;
}

.contact:hover {
	text-decoration: none;
	color: #d73a30;
}

.footer {
	background: #222;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 30px 0;
	color: #ccc;
	font-size: 12px;
}

.footer a{
	color: white;
	text-decoration: underline;

}

.footer a:hover {
	color: white;
	text-decoration: none;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}

@media (min-width: 768px){

	.top-intro {
		min-height: 710px;
	}

	.intro {
		text-shadow: 0 0 5px rgba(255,255,255,0.8);
	}

	.modal-dialog {
		width:900px;
	}

	.video-row {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (max-width: 768px){

	.video-bg {
		position: relative;
	}

	.intro {
		text-align: center;
	}

	.top-intro {
		padding-top: 20px;
		text-align: center;
	}

}